body {
  background-color: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  font-size: 30px;
}

h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 30px;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-size: 20px;
  font-weight: 600;
}

p {
  color: hsl(229, 6%, 66%);
  font-size: 12px;
  padding-top: 10px;
  letter-spacing: 0.5px;
}








/* header-section */

#header-section {
  text-align: center;
  padding: 5%;
}


/* cards-section */

#cards-section {
  padding: 9% 10.5% 1% ;
}

.first-div {
  background-color: #fff;
  border-top: solid;
  border-top-color: hsl(180, 62%, 55%);
  border-radius: 0.5rem;
  width: 350px;
  height: 250px;
  padding: 30px;
}

.second-div {
  background-color: #fff;
  border-top: solid;
  border-top-color: hsl(0, 78%, 62%);
  border-radius: 0.5rem;
  width: 350px;
  height: 250px;
  position: relative;
  left: 380px;
  bottom: 400px;
  padding: 30px;
}

.third-div {
  background-color: #fff;
  border-top: solid;
  border-top-color: hsl(34, 97%, 64%);
  border-radius: 0.5rem;
  width: 350px;
  height: 250px;
  position: relative;
  left: 380px;
  bottom: 350px;
  padding: 30px;
}

.fourth-div {
  background-color: #fff;
  border-top: solid;
  border-top-color: hsl(180, 62%, 55%);
  border-radius: 0.5rem;
  width: 350px;
  height: 250px;
  position: relative;
  left: 760px;
  bottom: 750px;
  padding: 30px;
}

.icon-img {
  position: relative;
  left: 220px;
  top: 20px;
}



/* footer */

attribution {
  font-size: 11px;
  text-align: center;
}


.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1028px) {

  body {
    text-align: center;
  }


  .first-div {
    position: static;
  }

  .second-div {
    position: static;
    margin-top: 10px;
  }

  .third-div {
    position: static;
    margin-top: 10px;
  }


  .fourth-div {
    position: static;
    margin-top: 10px;
  }

  .icon-img {
    position: static;
  }
}
